node_modules
.next
out
build
coverage
.env
.env.local
.env.production
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
*.tsbuildinfo
dev.db
dev.db-journal
prisma/dev.db
prisma/dev.db-journal
prisma/prisma/dev.db
prisma/prisma/dev.db-journal
